**/.vscode
**/.idea
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/*.pyc
**/*.pth
**/exploration-by-disagreement/
**/wandb/
**/work_dirs/
**/tf_logs/
*.o* 
# ^ slurm logs